.container {
    height: 100%
}
.ColorBox {
    width: 20%;
    height: 25%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: -3.5px;
}
.BoxContent {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.DeleteIcon:hover {
    color:white;
    scale: 1.5;
    transition: all 0.3s ease-in-out;
}
.Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
}
.ValidatorForm {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 5px;
    justify-content: space-around;
    align-items: flex-end;
    height: 50px;
}
h3 {
    display: flex;
    flex-basis: 220px;
    flex-wrap: nowrap;
    padding-left: 5px;
}